
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/jpg" href= "../static/img/logo.ico" />

    <title>Facegram</title>

    <link href="../static/bootstrap.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/css/font-awesome.css" rel="stylesheet">
  </head>

  <body class="bg-landing">
    <div class="col-md-4 mx-auto px-5 pt-5 pb-4 mt-5 bg-success rounded text-center" style="border: 1px solid rgb(192, 136, 53)">
      <a href=""><img class="img-fluid" src="../static/img/logo.png"></a>
      <br><br>
      <form class="form-group" action="home" method="POST">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Correo</span>
          </div>
          <input type="text" class="form-control" name="email">
        </div>
        <div class="input-group mb-4">
          <div class="input-group-prepend">
            <span class="input-group-text">Contraseña</span>
          </div>
          <input type="password" class="form-control" name="pass">
        </div>
        <button type="submit" class="btn btn-outline-dark">Iniciar sesión</button>
      </form>
      <div>
        <hr class="or-hr">
        <div id="or">o</div>
      </div>
      <div>
        <p class="text-center">Ingresa con tu cuenta de</p>
        <div class="text-center social-btn">
            <a href="#" class="btn btn-primary"><i class="fa fa-facebook"></i>&nbsp; Facebook</a>
            <a href="#" class="btn btn-info"><i class="fa fa-twitter"></i>&nbsp; Twitter</a>
          </div>
      </div>
      <br><p class="text-center small" style="color: #f0661b">¿No se ha registrado? Haga clic <a href="#" data-toggle="modal" data-target="#myModal">aquí</a></p>
      {% if error %}
        <br><br>
        <span class="control-label text-danger"><strong>Ha ingresado sus datos incorrectos. Favor intente nuevamente</strong></span>
      {% endif %}		
    </div>
    <div class="modal fade" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Ingrese sus datos</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label>Nombre:</label>
                <input type="text" class="form-control" id="Rname" placeholder="Ingrese nombre" name="Rname">
              </div>
              <div class="form-group">
                <label>Apellido:</label>
                <input type="text" class="form-control" id="RlastName" placeholder="Ingrese apellido" name="RlastName">
              </div>
              <div class="form-group">
                <label for="email">Correo:</label>
                <input type="email" class="form-control" id="email" placeholder="nombre@ejemplo.com" name="Remail">
              </div>
              <div class="form-group">
                <label for="pwd">Contraseña:</label>
                <input type="password" class="form-control" id="pass" placeholder="Ingrese contraseña" name="Rpass">
              </div>
              <div class="form-group">
                <label for="pwd">Repetir contraseña:</label>
                <input type="password" class="form-control" id="Cpass" placeholder="Confirme contraseña" name="Rpass">
              </div>
            </form> 
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
            <button type="submit" onclick="registrar()" class="btn btn-outline-dark">Registrar</button>
          </div>
        </div>
      </div>
    </div>
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/bootstrap.js"></script>
  </body>
</html>