
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/jpg" href= "../static/img/logo.ico" />

    <title>Facegram</title>

    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/css/font-awesome.css" rel="stylesheet">
  </head>

  <body>

    <header>
      <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
        <a class="navbar-brand" href="index.html"><img class="img-fluid" src="../static/img/logo.png" alt="logo" style="width:auto"></a>
        <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navb">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navb" class="navbar-collapse collapse">
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="index.html">Inicio</a></li>
            <li class="nav-item"><a class="nav-link" href="members.html">Usuarios</a></li>
            <li class="nav-item"><a class="nav-link" href="photos.html">Fotos</a></li>
            <li class="nav-item" class="active"><a class="nav-link" href="profile.html">Perfil</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Cerrar Sesión</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <section class="mt-5">
      <div class="timeline-cover">
        <img src="../static/img/1.jpg">
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="profile">
              <h1 class="page-header">Kevin Blanco</h1>
              <div class="row">
                <div class="col-md-4">
                  <img src="../static/img/img11.png" class="img-thumbnail" alt="">
                </div>
                <div class="col-md-8">
                  <ul>
                    <li><strong>Nombre: </strong>Kevin Blanco</li>
                    <li><strong>Correo: </strong>kevob1994@gmail.com</li>
                    <li><strong>Ciudad: </strong>Caracas</li>
                    <li><strong>Estado: </strong>Distrito Capital</li>
                    <li><strong>Género: </strong>Hombre</li>
                    <li><strong>Fecha de cumpleaños: </strong>16 de septiembre</li>
                  </ul>
                </div>
              </div><br><br>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="container">
        <p>Facegram Copyright &copy, 2018</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/bootstrap.js"></script>
  </body>
</html>
