
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/jpg" href= "../static/img/logo.ico" />

    <title>Facegram</title>

    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/css/font-awesome.css" rel="stylesheet">
    <link href="../static/css/ekko-lightbox.css" rel="stylesheet">

  </head>

  <body>

    <header>
      <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
        <a class="navbar-brand" href="/home"><img class="img-fluid" src="../static/img/logo.png" alt="logo" style="width:auto"></a>
        <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navb">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navb" class="navbar-collapse collapse">
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="/home">Inicio</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Usuarios</a></li>
            <li class="nav-item" class="active"><a class="nav-link" href="/profile">Perfil</a></li>
            <li class="nav-item"><a class="nav-link" href="/logout">Cerrar Sesión</a></li>
            {% if user %}
            <li class="nav-item"><a class="nav-link" href="#">{{user.email}}</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h1 class="page-header">Fotos</h1>
            <ul class="photos gallery-parent">
              {% for usr_image in user[0].user_images %}
              <li><a href="{{usr_image.src}}" data-hover="tooltip" data-placement="top" title="image" data-gallery="mygallery" data-parent=".gallery-parent" data-title="title" data-footer="{{usr_image.description}}" data-toggle="lightbox"><img src="{{usr_image.src}}" class="img-thumbnail" alt=""></a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </section>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <footer>
      <div class="container">
        <p>Facegram Copyright &copy, 2018</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/bootstrap.js"></script>
    <script src="../static/js/ekko-lightbox.js"></script>
  </body>
</html>
